<%- include("includes/head.ejs") %>
<body>
    <h1>This is Home Page</h1>
    <h3><%= 1 + 2 %></h3>
    <h3><%= "shivam".toUpperCase() %></h3>
    <h3><%= ["hello","namaste","hey"][0] %></h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia, voluptatem! Itaque illo blanditiis rerum veritatis repellendus sed in vero, fugiat officiis sit perferendis dolor impedit, modi temporibus nemo assumenda unde.</p>
    <button>Click Me!</button>
</body>
</html>